.account-wrapper {
  margin: 4rem 0;

  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  flex-direction: row;

  margin: 4rem auto;
}

.info-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.user-info-container div:not(.user-info-header, .user-fullname-input) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: calc(100% + 0.8rem);
}

.user-fullname-input {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.user-email input {
  width: 35rem;
}

.user-fullname-input input {
  width: 16.5rem;
}

.user-phone {
  width: 16.5rem;
}

.user-address {
  width: 16.5rem;
}

.cta .delete-action {
  background-color: red;
  color: #fff;
}

.submit-button button {
  background-color: #000;
  color: #fff;
}

@media (max-width: 1010px) {
  .account-wrapper {
    flex-direction: column;
    align-items: center;

    width: auto;
  }

  .cta .delete-action {
    width: 30rem;
  }
}

@media (max-width: 640px) {
  .user-email input {
    width: 30rem;
  }

  .user-fullname-input input {
    width: 12.5rem;
  }

  .user-phone {
    width: 12.5rem;
  }

  .user-address {
    width: 12.5rem;
  }

  .info-header {
    font-size: 1.6rem;
  }
}

@media (max-width: 316px) {
  .user-email input {
    width: 26rem;
  }

  .user-fullname-input input {
    width: 10.5rem;
  }

  .user-phone {
    width: 10.5rem;
  }

  .user-address {
    width: 10.5rem;
  }

  .info-header {
    font-size: 1.4rem;
  }

  .cta .delete-action {
    width: 25rem;
  }
}
