.account-wrapper {
  margin: 4rem 0;

  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  flex-direction: row;

  margin: 4rem auto;
}

.edit-room {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}

.cta {
  width: 24rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit-photos {
  background-color: #e9ecef;
}

.cta .delete-action {
  background-color: red;
  color: #fff;
}

.submit-button button {
  background-color: #000;
  color: #fff;
}

@media (max-width: 1150px) {
  .account-wrapper {
    flex-direction: column;
    align-items: center;

    width: auto;
  }
}
