/* @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Wix+Madefor+Display:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Wix+Madefor+Display:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: 'Wix Madefor Display', sans-serif;
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-slide-down {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;

  width: 50%;
  margin: 4rem auto;
}

.info-container div:not(.info-header, .user-fullname-input, .cta) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: calc(100% + 0.8rem);
}

.info-container form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}

.info-container input {
  border: 0.5px solid #000;
  border-radius: 0.8rem;
  height: 3.5rem;
  padding: 1rem 1rem;
}

.info-container button {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}

button {
  cursor: pointer;
}

.info-header {
  display: flex;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #000;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0.7rem 1rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.alert .svg-wrapper{
  width: 4rem;
  height: 4rem;

  background-color: #20bf6b;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.alert .ionicon{
  height: 3.5rem;
  width: 3.5rem;

  fill: #fff;

}

.alert .ionicon path{
  fill: #fff;
  stroke: green;
}

.alert--success {
  background-color: #d3f9d8;
}
.alert--error {
  background-color: #eb4d4b;
}
