@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #444;
  font-family: sans-serif;
}

button {
  display: inline-block;
  background-color: #fff;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 6rem;
  border-bottom: 0.08rem solid #bcbcbc;
  background-color: #fff;

  position: sticky;
  top: 0;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.location {
  position: relative;
}

.location .location-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  border: 0.1rem solid #808080;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  width: 28rem;
}

.location input {
  font-size: 1.8rem;
  border: none;
  height: 3rem;
  width: 22rem;
}

.location input:focus {
  outline: none;
}

.logo {
  height: 5rem;
  width: 6rem;
}

.locationResults {
  position: absolute;

  align-self: center;
  width: 25rem;
}

.locationResults p {
  font-size: 1.4rem;
}

.home {
  display: flex;
  align-items: center;
}

.home p {
  display: inline-block;
  font-size: 4rem;
  font-family: 'Courgette', cursive;
  color: #f76707;
}
