button {
  display: inline-block;
  background-color: #fff;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 6rem;
  border-bottom: 0.08rem solid #bcbcbc;
  background-color: #fff;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.location {
  position: relative;
  display: none;
}

.location .location-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  border: 0.1rem solid #808080;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  width: 30rem;
}

.location input {
  font-size: 1.8rem;
  border: none;
  height: 3rem;
  width: 24rem;
}

.location input:focus {
  outline: none;
}

.show-srh {
  display: block;
}

.logo {
  height: 5rem;
  width: 6rem;
}

.location-results {
  font-size: 1rem;
  line-height: 2rem;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.08);

  margin: 5px;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 14px;
  cursor: default;

  position: absolute;

  align-self: center;
  width: 29rem;
}

.location-results p {
  font-size: 1.6rem;
  border-bottom: 0.5px solid #3a3a3a;
  padding: 1rem 1rem;
}

.location-results p span {
  margin-right: 0.5rem;
}

.home {
  display: flex;
  align-items: center;
}

.home p {
  display: inline-block;
  font-size: 4rem;
  font-family: 'Courgette', cursive;
  color: #f76707;
}

.profile {
  position: relative;
}

.profile svg:hover {
  cursor: pointer;
}

.profile-icon {
  height: 4rem;
  width: 4rem;
}

@media (max-width: 754px) {
  .header {
    padding: 2rem 3rem;
    gap: 1rem;
  }

  .hide-logo {
    display: none;
  }

  .location .location-input {
    width: 30rem;
  }

  .location input {
    width: 24rem;
  }
}

@media (max-width: 416px) {
  .header {
    padding: 2rem 1rem;
    gap: 0rem;
  }

  .location .location-input {
    width: 24rem;
    padding: 0.3rem 0.9rem;
  }

  .location input {
    width: 18rem;
    font-size: 1.4rem;
  }

  .location-results {
    width: 23rem;
  }
}

@media (max-width: 370px) {
  .location .location-input {
    width: 24rem;
  }

  .location input {
    width: 18rem;
  }

  .location-results {
    width: 23rem;
  }
}

@media (max-width: 316px) {
  .header {
    width: 35rem;
  }

  .location .location-input {
    width: 22rem;
  }

  .location input {
    width: 16rem;
    font-size: 1.2rem;
  }

  .location-results {
    width: 21rem;
  }
}

@media (max-width: 280px) {
  .location .location-input {
    width: 18rem;
  }

  .location input {
    width: 12rem;
    height: 2rem;
    font-size: 1rem;
  }

  .location-results {
    width: 17rem;
  }
}
