.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.upload-container form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.upload-container input,
.upload-container select,
.upload-container textarea {
  border: 0.5px solid #000;
  padding: 0.8rem 1rem;
  cursor: pointer;
  outline: none;
}

.description textarea {
  width: 40rem;
  height: 10rem;
}

.room-location input {
  width: 40rem;
  height: 5rem;
}

.price input {
  height: 6rem;
  width: 20rem;
  font-size: 2.4rem;
  color: #265b8a !important;
}

.price span {
  font-style: italic;
  font-size: 1.2rem;
}

.post button {
  background-color: #000;
  color: #fff;
  padding: 1.2rem 2rem;
  border-radius: 0.4rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

button:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.image-upload-container {
  border: 0.5px solid #000;
  height: auto;
}

.image-upload {
  width: 40rem;
  padding: 4rem;
  margin-top: 2.5rem;

  border-width: 1px;
  font-size: 1.4rem;
}

.upload-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.tray-icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: currentColor;
  cursor: pointer;
  color: #1c7ed6;
}

.upload {
  margin-top: 2.5rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.preview {
  font-size: 1.875rem;
  font-weight: 600;
  padding: 0rem 1rem;
  padding-bottom: 2rem;
}

.preview ul {
  list-style: none;
}

.accepted-images {
  padding-bottom: 2.75rem;
  margin-top: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  border-bottom-width: 1px;
}

.images-list {
  display: grid;
  margin-top: 1.5rem;
  margin: 0rem 0rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;

  align-content: center;
  align-items: center;
}

.uploaded-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
}

.images-listing {
  position: relative;
  height: 8rem;
  width: 8rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.remove-btn {
  display: flex;
  position: absolute;
  top: -0.75rem;
  right: -0.75rem;
  transition-property: background-color, border-color, color, fill, stroke;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
}

.remove-btn:hover {
  background-color: #ffffff;
}

.remove-icon {
  transition-property: background-color, border-color, color, fill, stroke;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  padding: 0.2rem 0.2rem;
}

.upload-container .price {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.file-name {
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-select {
  cursor: pointer;
}

.location-results {
  width: 35rem;
}

.location-results p {
  border-bottom: 0.5px solid #3a3a3a;
  padding: 1rem 1rem;
}

@media (max-width: 420px) {
  .form-wrapper {
    margin: 2rem 0;
  }

  .image-upload {
    width: 30rem;
    padding: 4rem;
    margin-top: 2.5rem;

    border-width: 1px;
    font-size: 1.4rem;
  }

  .description textarea {
    width: 30rem;
    height: 10rem;
  }

  .room-location input {
    width: 30rem;
    height: 5rem;
  }

  .price input {
    height: 6rem;
    width: 20rem;
    font-size: 2.4rem;
    color: #265b8a !important;
  }
}
