.menu {
  width: 20rem;
  border-radius: 0.6rem;
  box-shadow: 2px 2px 2px 2px #bcbbbb;
  background-color: #fff;

  display: none;

  position: absolute;
  right: 0.5rem;
}

.menu .action {
  width: 20rem;
  padding: 2rem 2rem;
  text-align: left;
}

.action:hover,
.action:hover button {
  cursor: pointer;
  background-color: #efefef;
}

.menu a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
}
