.menu {
  width: 20rem;
  border-radius: 0.6rem;
  box-shadow: 0.5px 0.5px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;

  position: absolute;
  right: 0.5rem;
}

.menu .action {
  width: 20rem;
  padding: 2rem 2rem;
  text-align: left;
}

.action:hover,
.action:hover button {
  cursor: pointer;
  background-color: #efefef;
}

a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
}

.my-rooms-menu {
  width: 15rem;
  border-radius: 0.6rem;
  box-shadow: 0.5px 0.5px 4px 1px rgba(0, 0, 0, 0.2);
  background-color: #212529;

  position: absolute;
  transform: translateX(-13rem);
}

.my-rooms-menu .action {
  width: 15rem;
  padding: 1rem 2rem;
  text-align: left;
  color: #fff;
}

.my-rooms-menu .action:hover,
.my-rooms-menu .action:hover button {
  background-color: #343a40;
  width: 15rem;
  border-radius: 0.6rem;
}

@media (max-width: 580px) {
  .my-rooms-menu {
    width: 10rem;
    transform: translateX(-9rem);
  }

  .my-rooms-menu .action {
    width: 10rem;
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .my-rooms-menu {
    width: 8rem;
    transform: translateX(-7rem);
  }

  .my-rooms-menu .action {
    width: 10rem;
    font-size: 0.8rem;
  }
}
