.rooms {
  margin: 6rem 3.5rem;
  padding-bottom: 25rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  align-content: center;
  align-items: center;

  column-gap: 3.5rem;
  row-gap: 25rem;
}

.rooms img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.room-details {
  cursor: pointer;
  position: relative;
}

.room-details a {
  text-decoration: none;
  color: #000;
}

.room-details a:active {
  background-color: transparent;
}

.room-sub-details {
  font-size: 1.4rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  top: 32rem;
}

.room-sub-details p {
  font-weight: 600;
  display: inline-block;
  width: 30rem;
}

.price p {
  display: inline;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 4rem;
  height: 3rem;
  left: 50%;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  width: 6px;
  background: #495057;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 22px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 36px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

@media (max-width: 695px) {
  .rooms {
    width: 36rem;
    margin: 6rem auto;
    row-gap: 26rem;
  }

  .lds-facebook {
    left: 47%;
  }

  .room-sub-details {
    position: absolute;
    top: 37.5rem;
  }
}

@media (max-width: 390px) {
  .room-sub-details {
    position: absolute;
    top: 35.5rem;
  }
}

@media (max-width: 370px) {
  .rooms {
    margin: 6rem 1rem;
    row-gap: 25rem;
  }

  .room-sub-details {
    position: absolute;
    top: 36rem;
  }
}
