.room-details {
  display: flex;
  justify-content: space-between;
  margin: 6rem 4rem;

  font-size: 1.4rem;
}

.main-photo {
  position: relative;

  z-index: -1;

  grid-column: -1/-1;

  display: flex;
  flex-direction: column;
  /* gap: 10rem; */
}

.main-photo img {
  height: 45rem;
  width: 95rem;
  border-radius: 1rem;
}

.sub-photos {
  margin-top: -60px;
  margin-right: 2rem;

  display: grid;
  justify-content: right;
  align-content: baseline;

  grid-template-columns: repeat(2, 30rem);

  row-gap: 1rem;
  column-gap: 2rem;
}

.sub-photos img {
  height: 15rem;
  width: 30rem;
  border-radius: 1rem;
}

/* .room-details .first {
  position: absolute;
  right: 0;
  bottom: 18rem;
}

.room-details .second {
  position: absolute;
  right: 35rem;
  bottom: 18rem;
} */

.sub-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  height: 60rem;
}
