.container-slider {
  position: relative;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}

.active-img {
  opacity: 1;
}

.btn-slide {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #efefef;
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
}

.prev {
  position: absolute;
  top: 14rem;
  left: 5px;
}

.next {
  position: absolute;
  top: 14rem;
  right: 5px;
}

.container-dots {
  display: flex;
  gap: 0.5rem;

  position: absolute;
  top: 28.5rem;
  right: 15rem;
}

.dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #afacac;
}

.dot.active {
  background-color: #fff;
}
