.container-slider {
  position: relative;
  width: 30rem;
}

.slide {
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}

.slide img {
  height: 30rem;
  width: 30rem;
  object-fit: cover;
}

.active-img {
  opacity: 1;
}

.btn-slide-container {
  width: 30rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23rem;

  padding-top: 14rem;
}

.btn-slide {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #efefef;
  /* position: absolute;
  display: flex;
  justify-content: center; */
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

/* .prev {
  position: absolute;
  top: 14rem;
  left: 1rem;
}

.next {
  position: absolute;
  top: 14rem;
  right: 10rem;
} */

.container-dots {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30rem;
  margin: 1rem auto;
  padding-top: 11rem;

  gap: 0.5rem;

  position: absolute;
}

.dot {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #afacac;
}

.dot.active {
  background-color: #fff;
}

@media (max-width: 695px) {
  .container-slider {
    width: 37rem;
  }

  .slide img {
    height: 37rem;
    width: 37rem;
  }

  .btn-slide-container {
    width: 38rem;
    gap: 30rem;
    padding-top: 18rem;
  }

  .container-dots {
    width: 37rem;
    padding-top: 14rem;
  }
}

@media (max-width: 416px) {
  .btn-slide-container {
    width: 37rem;
  }

  .container-dots {
    width: 37rem;
    padding-top: 14rem;
  }
}

@media (max-width: 390px) {
  .container-slider {
    width: 35rem;
  }

  .slide img {
    height: 35rem;
    width: 35rem;
  }

  .btn-slide-container {
    width: 35rem;
    gap: 30rem;
    padding-top: 17rem;
  }

  .container-dots {
    width: 35rem;
    padding-top: 13rem;
  }
}
